/*
----------------------------------- Fuentes ----------------------------------
*/
.font-robo {
    font-family: "Roboto", "Arial", "Helvetica Neue", sans-serif;
}
.font-poppins {
    font-family: "Poppins", "Arial", "Helvetica Neue", sans-serif;
}
/*
--------------------------------------Diseño general-----------------------------------------
*/


/*DejaVu Sans Mono, monospace*/

header{
    font-family: 'Impact', 'fantasy';
    font-size: 50;
  
   
}
html {
    overflow-y: scroll;
    margin: 0; padding: 0; 
   /* background-color:white;*/
}
body{
  /*  font-family:'Pacifico', cursive;*/
    overflow-x: hidden;
   
}

.button {
    background-color: black;
}

/*.carousel-inner .item {
    background-color: black;
  }*/

.carousel-inner img {
    object-fit: contain;
    width: 100%;
    height: 100vh;
    max-height: 500px;
}

.carousel-inner{
 height: 500px;
 
}


  /* estilos de las imagenes en calzado*/


  
.our-moda .column{
    margin-bottom: 30px;
    text-align: center;
}
.our-moda__img{
    margin: auto;
    max-width: 350px;
}
.our-moda__title{
    font-size: 1.3em;
    padding-top: 10px;
    padding-bottom: 20px;
}
.our-moda__info {
    font: 1.1e;
    color: rgb(32, 167, 230);
    font-weight: bold;
    text-align:justify;
}